input[type='submit'] {
  padding: var(--submitPadding);
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  text-align: center;
  width: auto;
}

input[type='submit']:hover {
  background-color: var(--primary-color-dark);
}

#submitRegion {
  display: grid;
  justify-content: center;
}